[pulseaudio]
sink_name: alsa_output.pci-0000_00_1b.0.analog-stereo
meter_rate: 60
max_sample_value: 127
display_scale: 2

[hue]
bridge_ip: 192.168.178.17
username: beautifulhuetest
lights_ids: [1, 2, 3, 4]
dancing_state_1: {'which': 1, 'data': {'state': {'on': True, 'sat': 254, 'bri': 254, 'hue': 45688, 'xy': [0.1845, 0.0739]}}}
dancing_state_2: {'which': 2, 'data': {'state': {'on': True, 'sat': 254, 'bri': 254, 'hue': 759, 'xy': [0.6626, 0.3285]}}}
dancing_state_3: {'which': 3, 'data': {'state': {'on': True, 'sat': 254, 'bri': 254, 'hue': 759, 'xy': [0.6626, 0.3285]}}}
dancing_state_4: {'which': 4, 'data': {'state': {'on': True, 'sat': 254, 'bri': 254, 'hue': 45095,  'xy': [0.1548, 0.1085]}}}
initial_state_1: {'which': 1, 'data': {'state': {'on': True, 'sat': 212, 'bri': 254, 'hue': 13123, 'xy': [0.5125, 0.4149]}}}
initial_state_2: {'which': 2, 'data': {'state': {'on': True, 'sat': 212, 'bri': 254, 'hue': 13123, 'xy': [0.5125, 0.4149]}}}
initial_state_3: {'which': 3, 'data': {'state': {'on': True, 'sat': 212, 'bri': 254, 'hue': 13123, 'xy': [0.5125, 0.4149]}}}
initial_state_4: {'which': 4, 'data': {'state': {'on': True, 'sat': 212, 'bri': 254, 'hue': 7473,  'xy': [0.5125, 0.4149]}}}
initial_state_0: {'which': 0, 'data': {'action': {'on': True, 'sat': 212, 'bri': 254, 'hue': 13123,  'xy': [0.5125, 0.4149]}}}

[colors]
blue: {'on': True, 'sat': 254, 'bri': 254, 'hue': 45688, 'xy': [0.1845, 0.0739]}
red: {'on': True, 'sat': 254, 'bri': 254, 'hue': 759, 'xy': [0.6626, 0.3285]}

[spotify]
playlist_uri: spotify:user:spotifyenespa%C3%B1ol:playlist:3Pf7vffFED7WtNB04XJnCt
